*{
    background: rgb(240, 197, 233);
}

#calculator{
    height: 31rem;
    width: 20rem;
    border: 1px black solid;
    margin: auto;
    margin-top: 7rem;
    background: rgb(7, 117, 190);
}

#screen{
    background: white;
    height: 5rem;
    margin: 1rem;
    width: 17.5rem;
    font-size: 3rem;
    text-align: center;
    padding-top: 0.75rem;
    box-sizing: content-box;
}

#buttons{
    display:flex;
    flex-wrap: wrap;
    background: rgb(7, 117, 190);
    justify-content: center;
}

#clr{
    width:17.5rem;
}

button{
    margin:0.5rem;
    height: 3.7rem;
    width: 3.7rem;
    padding:0.5rem;
    background: rgb(170, 235, 253);
    font-size: 1.5rem;
    text-align: center;
    
}

